@import '../../../styles.scss';
.table-scroll {
    height: calc(100vh - #{$header-height});
    overflow-y: scroll;
}
th {
    cursor: pointer;
}
img {
    width: 75px;
    height: 75px;
    cursor: pointer;
}