<div class="row">
  <div class="col-12 table-scroll">
    <!-- show a table of results -->
    <table class="table" *ngIf="images.length > 0">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col" (click)="onSortFieldNameChange('uniqueCode')">ID</th>          
          <th scope="col" (click)="onSortFieldNameChange('uploadedDate')">Submitted</th>
          <th scope="col" (click)="onSortFieldNameChange('name')">Name</th>    
          <th scope="col" (click)="onSortFieldNameChange('approvalStatus')">Decision</th>                
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let img of images | orderBy : sortFieldName">
          <td><img [src]="img.imageLink | imagePlaceholder" [routerLink]="['/admin-search', img.id]" /></td>          
          <td tabindex="0">{{img.uniqueCode}}</td>
          <td tabindex="0">{{img.uploadedDate}}</td>
          <td tabindex="0">{{img.name}}</td>
          <td tabindex="0">{{img.approvalStatus}}</td>          
        </tr>
      </tbody>
    </table>    
    <div *ngIf="images.length === 0" class="jumbotron">
        <h1 class="display-4">All Done!</h1>
        <p class="lead">You currently have no more images to review.</p>
        <hr class="my-4">
        <div class="card-img-top">
          <div class="card-body">

            <div class="text-center">
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-outline-secondary" (click)="location.reload()">Refresh</button>
              </div>
              <!--<small class="text-muted">pending</small>-->
            </div>
          </div>
        </div>
      </div>    
  </div>
</div>