<div class="row">
  <div class="col-12 table-scroll">
    <!-- show a table of results -->
    <table class="table" *ngIf="images.length > 0">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col" (click)="onSortFieldNameChange('uniqueCode')">Code</th>         
          <th scope="col" (click)="onSortFieldNameChange('uploadedDate')">Email</th>
          <th scope="col" (click)="onSortFieldNameChange('uploadedDate')">Submitted</th>
          <th scope="col" (click)="onSortFieldNameChange('name')">Name</th>    
          <th scope="col" (click)="onSortFieldNameChange('approvalStatus')">Decision</th>                
          <th scope="col" (click)="onSortFieldNameChange('dateOfBirth')">DOB</th>                
          <th scope="col" (click)="onSortFieldNameChange('address')">Address</th>                
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let img of images | orderBy : sortFieldName" [routerLink]="['/admin-search', img.id]">
          <td><img [src]="img.imageLink | imagePlaceholder"  /></td>          
          <td tabindex="0">{{img.uniqueCode}}</td>
          <td tabindex="0">{{img.emailStatus}}</td>
          <td tabindex="0">{{img.uploadedDate}}</td>
          <td tabindex="0">{{img.name}}</td>
          <td tabindex="0">{{img.approvalStatus}}</td>     
          <td tabindex="0">{{img.dateOfBirth}}</td>
          <td tabindex="0">{{img.address}}</td>                    
        </tr>
      </tbody>
    </table>    
    <div *ngIf="images.length === 0" class="jumbotron">
        <h1 class="display-4">No Results</h1>
        <p class="lead">You currently have no images to review. Please refine your search.</p>
        <hr class="my-4">
        <div class="card-img-top">
          <div class="card-body">


          </div>
        </div>
      </div>    
  </div>
</div>