<form class="form-signin">
  <div class="text-center">
    <img class="mb-4" src="assets/RFI_upload_icon.png" alt="image of image upload" width="72" height="72">
    <h1 class="h3font-weight-normal">Image Submission</h1>
    <p>You are about to submit an image for review.</p>
  </div>

  <div class="form-label-group">
    <input type="string" class="form-control" placeholder="Your submission id" required="true" autofocus="true">
    <label for="inputEmail">Image Identifier</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/my-image">Submit</button>
</form>

