
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-12">
          <div class="card-img-top">
              <div class="card-body">
                <div class="card-text">
                  <img alt="Image for Submission" [src]="image.imageLink | imagePlaceholder">
                </div>
                <div class="align-items-center">
                  <div class="btn-group">
                    <button type="button" [class.active]="isApproved(image)" class="btn btn-lg btn-outline-secondary" (click)="onImageAdjudication(true)">Approved</button>
                    <button type="button" [class.active]="!isApproved(image)" class="btn btn-lg btn-outline-secondary" (click)="onImageAdjudication(false)">Rejected</button>
                  </div>
                  <!--<small class="text-muted">pending</small>-->
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="row" *ngIf="!isPending(image) && !isApproved(image)">
      <div class="col-12">
        <div class="form-label-group">
          <label for="rejection-box">Reason for Rejection</label>
          <textarea id="rejection-box" maxlength="250" [(ngModel)]="image.approvalDecisionNotes"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <div class="form-label-group">
          <label for="name-box">Name</label>
          <input type="string" id="name-box" class="form-control" readonly [value]="image.name" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-label-group">
          <label for="unique-code-box">Unique Code</label>
          <input type="string" id="unique-code-box" class="form-control" readonly [value]="image.uniqueCode" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-label-group">
          <label for="date-box">Date Submitted</label>
          <input type="string" id="date-box" class="form-control" readonly [value]="image.uploadedDate" />
        </div>
      </div>
    </div>

    <div class="row" *ngIf="isModelDifferent()">
      <div class="col-12">
        <div class="form-label-group">
          <label for="confirmation-box">Do you wish to save these changes?</label>
          <div class="btn-group" id="confirmation-box">
            <button class="btn btn-info" (click)="onImageAdjudicationConfirmation()">Confirm</button>
            <button class="btn btn-danger" routerLink="/my-approvals">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>