img {
    height: 275px;
    width: 275px;
    margin: 10px;
}
.search-box {
    padding-top: 25px;
    .like-google {
        margin: auto;
    }
    input {
        width: calc(100vw - 300px);
    }
}