
  <div class="text-center">
    <img src="./src/assets/unisys_circle_logo.png">
    <div class="flavor-text">
        <p>
          You may search for applicant submissions by applicant name, date of birth, address, unique id, email status, and submission date.
        </p>
      </div>    
  </div>

  <div class="form-inline search-box">
    <div class="like-google">
        <input class="form-control pull-left" type="text" placeholder="search for a submission" aria-label="Search" [(ngModel)]="query" (keyup.enter)="onSearch(query)" appAutofocus>
        <button class="btn btn-outline-success" type="button"  (click)="onSearch(query)">Search</button>        
    </div>

  </div>    

