img {
    height: 150px;
    width: 150px;
    margin: 10px;
}
.search-box {
    padding-top: 25px;
    .like-google {
        margin: auto;
    }
    input {
        min-width: 300px;

    }
}
.flavor-text {
    font-size: 1em;
    color: grey;
    max-width: 400px;
    margin: auto;
}    