@import '../styles.scss';
.bg-custom {
    background: rgb(0, 51, 102);
    color: white;
}
.has-header {
    padding-top: 10px;
}
#title-box {
    img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    .navbar-collapse.show {
        height: $header-height ;
    }
    .navbar-float-right {
        position: absolute;
        right: 5px;        
    }
    .clearfix {
        height: $header-height;
    }    
}