<nav id="title-box" class="navbar navbar-expand-md navbar-dark bg-custom">
  <a [routerLink]="['/admin']" *ngIf="showSearchBar()">
    <img src="./src/assets/unisys_logo_sideways.png"  />
  </a>
  <a [routerLink]="['/my-info-submit']" *ngIf="!showSearchBar()">
    <img src="./src/assets/unisys_logo_sideways.png"  />
  </a>  
  <a class="navbar-brand">{{getTitle()}}</a>

  <button *ngIf="showSearchBar()" class="navbar-toggler" type="button" (click)="headerCollapsed = !headerCollapsed" aria-controls="navbar-main"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="showSearchBar()" class="collapse navbar-collapse" id="navbar-main"  [ngbCollapse]="headerCollapsed">
    <ul class="navbar-nav mr-auto navbar-float-right">
      <div class="form-inline">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="query" (keyup.enter)="onSearch(query)">
        <button class="btn btn-outline-success" type="submit" (click)="onSearch(query)">Search</button>
      </div>
    </ul>
  </div>

</nav>

<div class="container-fluid has-header">
  <router-outlet><!-- views go here --></router-outlet>
</div>