.bg-custom {
    background: rgb(0, 51, 102);
    color: white;
}
.has-header {
    padding-top: 10px;
}
#title-box {
    img {
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }
    .navbar-float-right {
        position: absolute;
        right: 0;        
    }
}