<nav id="title-box" class="navbar navbar-expand-md navbar-dark bg-custom">
  <img src="assets/DHS_SEAL.png" />
  <a class="navbar-brand">{{getTitle()}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-float-right" id="navbar-main">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-approvals" routerLinkActive="active">Approvals
          <span class="sr-only" >go to admin screen</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-submission" routerLinkActive="active">Upload
          <span class="sr-only" >go to image upload</span>
        </a>
      </li>       
    </ul>
  </div>
</nav>

<div class="container-fluid has-header">
  <router-outlet><!-- views go here --></router-outlet>
</div>