@import '../styles.scss';
.bg-custom {
    background: rgb(0, 51, 102);
    color: white;
}

#title-box {
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 9999;        
    img {
        width: 60px;
        height: 60px;
        margin: 0 10px 0 15px;
        cursor: pointer;
    }
    .navbar-collapse.show {
        height: $header-height ;
    }
    .navbar-float-right {
        position: absolute;
        right: 5px;        
    }
    .clearfix {
        height: $header-height;
    }    

}