.row {
    padding-top: 10px;
}
img {
    width: 200px;
    height: 200px;
}
#submission-box {
    &.form-signin {
        width: 100%;
        max-width: 420px;
        padding: 10px;
        margin: 20px auto;        
    }    
    .image-center {
        text-align: center;
    }
}