<form class="form-signin">
  <div class="text-center">
    <!--<img class="mb-4" src="assets/RFI_upload_icon.png" alt="image of image upload" width="72" height="72">-->
    <h1 class="h3font-weight-normal">Image Submission</h1>
    <p>You are about to submit an image for review.</p>
  </div>

  <div class="form-label-group">
    <label for="image-id">Image Identifier</label>
    <input id="image-id" type="string" class="form-control" placeholder="Your submission id" required="true" autofocus="true">
  </div>

  <div class="form-label-group">
    <label for="image-submission">Image for Submission</label>
    <input type="file" id="image-submission" class="form-control" placeholder="Your submission id" required="true" autofocus="true" (change)="onFileChange($event)">
  </div>

  <div *ngIf="hasImagePreview"  class="form-label-group">
    <image-preview [model]="image"></image-preview>
  </div>

  <div class="form-label-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/my-image">Upload</button>
  </div>
</form>

