/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
$header-height: 80px;
.has-header {
    padding-top: $header-height;
}
body {
    background-color: whitesmoke;
    .flavor-text {
        font-size: 0.7em;
        color: grey;
    }    
}